{% extends 'base.html.twig' %}

{% block title %}Bot index{% endblock %}

{% block body %}
    <h1>Bot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>IsPrivate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bot in bots %}
            <tr>
                <td>{{ bot.id }}</td>
                <td>{{ bot.title }}</td>
                <td>{{ bot.description }}</td>
                <td>{{ bot.isPrivate ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_bot_show', {'id': bot.id}) }}">show</a>
                    <a href="{{ path('app_bot_edit', {'id': bot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bot_new') }}">Create new</a>
{% endblock %}
