{% extends 'general_show_page.html.twig' %}

{% block content %}
	{% embed "components/content_block.html.twig" with {'header': 'user.personal'} %}
		{% block content %}
			<div class="input-group mb-3">
				<span class="input-group-text bg-white">ФИО</span>
				<input type="text" class="form-control" value="{{ app.user.lastName }}" disabled>
				<input type="text" class="form-control" value="{{ app.user.firstName }}" disabled>
				<input type="text" class="form-control" placeholder="Не указано" value="{{ app.user.patronymic }}" disabled>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text bg-white">Email</span>
				<input type="text" class="form-control" value="{{ app.user.email }}" disabled>
			</div>
			<div class="input-group mb-4">
				<span class="input-group-text bg-white">Номер телефона</span>
				<input type="text" class="form-control" placeholder="Не указан" value="{{ app.user.phone }}" disabled>
			</div>

			<a class="btn btn-sm btn-primary me-auto" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Редактировать</a>
		{% endblock %}
	{% endembed %}

	{% include 'components/entity_list_block.html.twig' with {
		'header': 'user.bots', 
		'entities': bots, 
		'entityShowRoute': 'app_bot_show'
	} only %}

	{% include 'components/entity_list_block.html.twig' with {
		'header': 'common.surveys', 
		'entities': surveys, 
		'entityShowRoute': 'app_survey_show'
	} only %}
{% endblock %}
